body {
  padding-top: 40px;
}
h1 {
  font-size: 18px;
  line-height: 30px;
}
h2 {
  font-size: 45px;
}
ul {
  list-style: none;

  padding: 20px;

  border-radius: 4px;
}
form {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.temperature {
  font-size: 45px;
}
.today-forecast {
  border: none;
}
.unit-links {
  position: relative;
  top: -20px;
}
.unit-links .active {
  color: black;
  cursor: default;
}
.unit-links .active:hover {
  text-decoration: none;
}
