body {
  padding-top: 40px;
}
h1 {
  font-size: 18px;
  line-height: 30px;
}
h2 {
  font-size: 40px;
}
ul {
  list-style: none;

  padding: 20px;

  border-radius: 4px;
}
form {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 30px;
}

.temperature {
  font-size: 40px;
}
.today-forecast {
  border: none;
}
.unit-links .active {
  color: black;
  cursor: default;
}
.unit-links .active:hover {
  text-decoration: none;
}
